<link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
<br>
<br>
<br>
<!--intro/content-->
<div class="demo-container mdl-grid">
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
  <div class="demo-content mdl-color--grey-100 mdl-shadow--4dp content mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
    <h1 class="my-info mdl-color--primary mdl-shadow--4dp" align="center"> {{myInfo.heading}} </h1> 
    <p align="center" class="">{{myInfo.body}}</p>
    <div class="frank-img"><img src="/frank.jpg" id="frank-img"></div>
      <div align="center">
        <span><a href="{{myInfo.github}}"><i class="hover fa fa-github-square fa-5x"></i></a></span>
        <span><a href="{{myInfo.linkedin}}"><i class="hover fa fa-linkedin-square fa-5x mdl-color-text--blue"></i></a></span>
        <span><a href="{{myInfo.wordpress}}"><i class="hover fa fa-wordpress fa-5x"></i></a></span>
      </div>
    </div>
</div>

<!--Crimemap-->
<div class="demo-container mdl-grid">
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
  <div class="demo-content mdl-color--grey-100 mdl-shadow--4dp  mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
    <h2 class="crime-title mdl-color--accent mdl-shadow--4dp" align="center">{{crimeMap.heading}}</h2>
    <a href="{{crimeMap.link}}"><img id="crime-img" src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-crime.jpg"></a>
    <p align="center">{{crimeMap.body}}</p> 
    <a href="{{crimeMap.github}}"><i class="hover fa fa-github-square fa-3x"></i></a>
  </div>
</div>

<!-- Minor projects -->
<div class="mdl-grid">
  <div class="{{cardHide}}"></div>
  <div class="{{cardStyle}}">
    <div>
      <h5 class="card-title mdl-color--accent mdl-shadow--4dp" align="center">{{myCard[0].heading}}</h5>
    </div>
    <a align="center" href="{{myCard[0].link}}"><img class="card-content-image" src="https://s3-us-west-2.amazonaws.com/sojuheroku/MB+Maker/mb-preview.JPG"></a>
    <p align="center" class="card-body-text"><a href="http://forums.anarchy-online.com/showthread.php?611805-Soju-s-Multiboxing-Guide">Multibox Script maker for Anarchy Online. </a> *stack* AngularJS, Google Material Design, Rails, Heroku</p> 
    <a class="card-git" href="{{myCard[0].github}}"><i class="hover fa fa-github-square"></i></a>
  </div>
  <div class="{{cardStyle}}">
    <h5 class="card-title mdl-color--accent mdl-shadow--4dp" align="center">{{myCard[1].heading}}</h5>
    <a align="center" href="{{myCard[1].link}}"><img class="card-content-image" src="https://s3-us-west-2.amazonaws.com/sojuheroku/fizzbuzz.jpg"></a>
    <p align="center" class="card-body-text"><a href="http://c2.com/cgi/wiki?FizzBuzzTest">Fizz Buzz</a>with a twist! practice with css Parallax Scrolling. Font style and color are randomized each refresh. *stack* Twitter Bootstrap, Rails, Heroku</p> <br>
    <a class="card-git" href="{{myCard[1].github}}"><i class="hover fa fa-github-square"></i></a>
  </div>
</div>
<div class="mdl-grid">
  <div class="{{cardHide}}"></div>
  <div class="{{cardStyle}}">
    <h5 class="card-title mdl-color--accent mdl-shadow--4dp" align="center">{{myCard[2].heading}}</h5>
    <a align="center" href="{{myCard[2].link}}"><img class="card-content-image" src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-todo.jpg"></a>
    <p align="center" class="card-body-text">{{myCard[2].body}}</p><br>
    <a class="card-git" href="{{myCard[2].github}}"><i class="hover fa fa-github-square"></i></a>
  </div>
  <div class="{{cardStyle}}">
    <h5 class="card-title mdl-color--accent mdl-shadow--4dp" align="center">{{myCard[3].heading}}</h5>
    <a align="center" href="{{myCard[3].link}}"><img class="card-content-image" src="https://s3-us-west-2.amazonaws.com/sojuheroku/old-portfolio.jpg"></a>
    <p align="center" class="card-body-text">{{myCard[3].body}}</p> 
    <a class="card-git" href="{{myCard[3].github}}"><i class="hover fa fa-github-square"></i></a>
  </div>
</div>

<script>
angular.module('myApp', [])

  .controller('MyCtrl', function($scope) {
    $scope.imageTemp= "https://s3-us-west-2.amazonaws.com/sojuheroku/soju-crime.jpg";

    $scope.cardHide = "mdl-cell mdl-cell--3-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone";
    $scope.cardStyle ='mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone';

    $scope.myCard = [{
      heading:'MB Maker', 
      link:'http://soju-mb-app.herokuapp.com',
      github:'https://github.com/sojufrank/soju-mb-app',
      image:$scope.imageTemp,
      body:'*stack* AngularJS, Google Material Design, Rails, Heroku'
    },
    {
      heading:'Fizz Buzz', 
      link:'https://soju-fizz-buzz.herokuapp.com',
      github:'https://github.com/sojufrank/fizz-buzz-javascript',
      body:'$scope.lorem '  
    },
    {
      heading:'ToDo App',
      link:'https://soju-todo-list.herokuapp.com',
      github:'https://github.com/sojufrank/todo_list',
      body:'A neat little online todo list app. You can create a List, and then have a checkoff list underneath. This app was created to demonstrate and understanding CRUD applications. *stack* HTML5, CSS3, Bootstrap, Rails, Heroku'
    },
    {
      heading:'Previous Portfolio',
      link:'https:soju-portfolio.herokuapp.com',
      github:'https://github.com/sojufrank/portfolio',
      body:'My previous portfolio created with Bootstrap *stack* HTML5, CSS3, Bootstrap, Rails, Heroku'
    }];

    $scope.myInfo = {
      heading:'Frank Yi', 
      body:'Hello im Frank, welcome to my portfolio site.  My stack includes HTML5, CSS3, AngularJS, Ruby on Rails, PostgresSql. I host my projects on Heroku.  I use Amazon s3 for storage.', 
      github:'https://www.github.com/sojufrank', 
      linkedin:'https://www.linkedin.com/pub/frank-yi/45/a06/60b', 
      wordpress:'https://seattlekkf.wordpress.com'
    };

    $scope.crimeMap = {
      heading:'Seattle Crime Map', 
      link:'https://seattle-crime-map.herokuapp.com',
      github: 'https://github.com/sojufrank/crime-map',
      image:'https://s3-us-west-2.amazonaws.com/sojuheroku/soju-crime.jpg',
      body:'A google map you can use to stay up to date on the latest police reports.  The app requests data from data.seattle.gov API, then prepares a json with geolocation data, dates, times, and offense types for the last 1000 police reports.  icons and infowindow have been customized.  Filters have been coded in to sort returned data.' 
    };
  })
</script>